.filter-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.filter-buttons button {
  margin: 0 10px;
}

.charts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.chart-container {
  margin-bottom: 40px;
}

.chart-container h3 {
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}
